.vscode/**
.github/**
PUBLISHING.md
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.git/**
.yarnrc
esbuild.js
vsc-extension-quickstart.md
package-lock.json
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
